.sec_1 {
    padding: 100px 0;
    background: transparent url("../img/1%20copy.jpg?crc=95492434") no-repeat center center;
    background-size: cover;
    min-height: 80vh;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    position: relative;

    .container {
        z-index: 1;
    }

    .upper_title {
        color: #FFFFFF;
        line-height: 30px;
        font-size: 25px;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .sec_title {
        color: #FFFFFF;
        line-height: 58px;
        font-size: 48px;
        font-family: '__Futura PT_5';
        font-weight: 700;
        margin-bottom: 30px;
    }

    .img_block {
        display: inline-block;
        width: 100%;
        margin-top: 30px;
    }

    .description {
        color: #FFFFFF;
        line-height: 21px;
        font-size: 16px;
        text-align: justify;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        margin-top: 30px;
        max-width: 320px;
        width: 100%;
    }
}

.orange {
    color: #FBB03B;
}

.form {
    max-width: 320px;
    width: 100%;

    .input {
        padding: 15px 20px;
        color: #FFFFFF;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-size: 18px;
        border-style: solid;
        border-width: 3px;
        border-color: #FFFFFF;
        background-color: transparent;
        border-radius: 90px;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;

        &:active,
        &:focus {
            box-shadow: 0 0 2px #2CC781, 0 0 2px #2CC781;
            border-style: solid;
            border-width: 3px;
            border-color: #2BC67E;
            background-color: #FFFFFF;
            color: #000;
            outline: none;
        }
    }

    button {
        border-color: transparent;
        background-color: #FFC437;
        border-radius: 80px;
        font-size: 25px;
        color: #0071BC;
        text-align: center;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: bold;
        padding: 8px 20px;
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff;
    }

    .input::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
    }

    .input:-ms-input-placeholder {
        /* IE 10+ */
        color: #fff;
    }

    .input:-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
    }
}
// ==================================================
// sec_2
// ==================================================

.sec_2 {
    margin: 90px 0 0;

    .sec_title {
        color: #FBB03B;
        line-height: 58px;
        font-size: 48px;
        font-family: '__Futura PT_5';
        font-weight: 700;

        &.first {
            margin-top: 80px;
        }
    }

    p {
        color: #0071BC;
        line-height: 30px;
        font-size: 25px;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: normal;
    }

    img {
        max-width: 360px;
        display: inline-block;
        margin-bottom: 20px;
    }
}
// ==================================================
// sec_3
// ==================================================

.sec_3 {
    padding-top: 40px;
    padding-bottom: 70px;

    p {
        color: #0071BC;
        line-height: 26px;
        font-size: 22px;
        text-align: center;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        margin-top: 15px;
    }

    .row_blocks {
        margin: 30px 0;
    }

    h2.blue {
        margin-top: 80px;
    }
}

h2.blue {
    color: #0071BC;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}

h2.orange {
    color: #FBB03B;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}
// ==================================================
// sec_4
// ==================================================

.sec_4 {
    background: transparent url("../img/2.jpg") no-repeat center center;
    background-size: cover;
    padding: 100px 0;

    .sec_title {
        color: #FBB03B;
        line-height: 58px;
        font-size: 48px;
        font-family: '__Futura PT_5';
        font-weight: 700;
    }

    .list {
        span {
            color: #FBB03B;
            line-height: 60px;
            font-size: 50px;
            font-family: '__Futura PT_5';
            font-weight: 700;
            display: inline-block;
            margin-right: 15px;
        }

        p {
            color: #FFFFFF;
            line-height: 26px;
            align-items: center;
            display: flex;
            font-size: 22px;
            text-align: left;
            font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        }
    }

    .txt_img_bg {
        color: #0071BC;
        line-height: 26px;
        font-size: 22px;
        text-align: left;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        background: transparent url("../img/17.png") no-repeat 0 50%;
        background-size: cover;
        padding: 10px 50px;
        max-width: 694px;
        text-align: center;
    }

    .btn_wrapp {
        margin-top: 40px;
        max-width: 694px;
        text-align: center;
    }
}
// ==================================================
// sec_4
// ==================================================

.sec_5 {
    padding: 70px 0;

    .sec_title {
        color: #FBB03B;
        line-height: 58px;
        font-size: 48px;
        font-family: '__Futura PT_5';
        font-weight: 700;
        max-width: 500px;
        margin-left: auto;
        margin-bottom: -135px;
        text-align: right;
    }

    img {
        height: 220px;
        width: auto;
    }

    h3 {
        color: #FBB03B;
        line-height: 36px;
        font-size: 30px;
        text-align: left;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: bold;
        margin-bottom: 15px;
    }

    p {
        color: #0071BC;
        line-height: 24px;
        font-size: 20px;
        text-align: left;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: normal;
    }
}
