// ==================================================
// header
// ==================================================

header {
    .navbar {
        background-color: rgba(0, 0, 0, .5);
    }
}

.btn.btn-outline-light {
    border-width: 2px;
    border-color: #FFFFFF;
    background-color: transparent;
    border-radius: 400px;
    color: #FFFFFF !important;
    line-height: 23px;
    font-size: 19px !important;
    text-align: center;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    padding: 5px 35px 7px !important;
    margin-left: 50px;

    &:active {
        color: #000 !important;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 18px;
    }
}
// ==================================================
// sec_1
// ==================================================

.sec_1 {
    padding: 180px 0 170px;
    background: transparent url("../img/1%20copy.jpg?crc=95492434") no-repeat center center;
    background-size: cover;
    min-height: 80vh;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    position: relative;
    min-height: 100vh;

    .container {
        z-index: 1;
    }

    .upper_title {
        color: #FFFFFF;
        line-height: 30px;
        font-size: 25px;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .sec_title {
        color: #FFFFFF;
        line-height: 58px;
        font-size: 48px;
        font-family: '__Futura PT_5';
        font-weight: 700;
        margin-bottom: 30px;
    }

    .img_block {
        display: inline-block;
        width: 100%;
        margin-top: 30px;
    }

    .description {
        color: #FFFFFF;
        line-height: 21px;
        font-size: 16px;
        text-align: justify;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        margin-top: 30px;
        max-width: 320px;
        width: 100%;
    }
}

.orange {
    color: #FBB03B;
}

.form {
    // max-width: 320px;
    width: 100%;

    .input {
        padding: 15px 20px;
        color: #FFFFFF;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-size: 18px;
        border-style: solid;
        border-width: 3px;
        border-color: #FFFFFF;
        background-color: transparent;
        border-radius: 90px;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;

        &:active,
        &:focus {
            box-shadow: 0 0 2px #2CC781, 0 0 2px #2CC781;
            border-style: solid;
            border-width: 3px;
            border-color: #2BC67E;
            background-color: #FFFFFF;
            color: #000;
            outline: none;
        }
    }

    button {
        border-color: transparent;
        background-color: #FFC437;
        border-radius: 80px;
        font-size: 25px;
        color: #0071BC;
        text-align: center;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: bold;
        padding: 8px 20px;
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff;
    }

    .input::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
    }

    .input:-ms-input-placeholder {
        /* IE 10+ */
        color: #fff;
    }

    .input:-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
    }
}
// ==================================================
// sec_2
// ==================================================

.sec_2 {
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -350px;
        left: 0;
        width: 100%;
        height: 150%;
        background-image: url("../img/22.png");
        background-size: 100% auto;
    }

    .sec_title {
        color: #FBB03B;
        line-height: 58px;
        font-size: 48px;
        font-family: '__Futura PT_5';
        font-weight: 700;

        &.first {
            margin-top: 80px;
        }
    }

    .row_block {
        margin-top: -50px;
    }

    p {
        color: #0071BC;
        line-height: 30px;
        font-size: 25px;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: normal;
    }

    img {
        max-width: 360px;
        display: inline-block;
        margin-bottom: 20px;
    }
}
// ==================================================
// sec_3
// ==================================================

.sec_3 {
    padding-top: 40px;
    padding-bottom: 20px;

    p {
        color: #0071BC;
        line-height: 26px;
        font-size: 22px;
        text-align: center;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        margin-top: 15px;
    }

    .row_blocks {
        margin: 30px 0;

        & > div {
            margin-bottom: 40px;
        }
    }

    h2.blue {
        margin-top: 80px;
    }
}

h2.blue {
    color: #0071BC;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}

h2.orange {
    color: #FBB03B;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}
// ==================================================
// sec_4
// ==================================================

.sec_4 {
    background: transparent url("../img/2.jpg") no-repeat center center;
    background-size: cover;
    padding: 250px 0;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 415px;
        background-image: url("http://voron.store/test/images/22.png?crc=413217920");
        background-size: 100% auto;
        background-position: bottom;
        z-index: 1;
    }

    .sec_title {
        color: #FBB03B;
        line-height: 58px;
        font-size: 48px;
        font-family: '__Futura PT_5';
        font-weight: 700;
        margin-bottom: 60px;
    }

    .list {
        span {
            color: #FBB03B;
            line-height: 60px;
            font-size: 50px;
            font-family: '__Futura PT_5';
            font-weight: 700;
            display: inline-block;
            margin-right: 15px;
        }

        p {
            color: #FFFFFF;
            line-height: 26px;
            align-items: center;
            display: flex;
            font-size: 22px;
            text-align: left;
            font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
            text-shadow: 0 1px 3px rgba(0, 0, 0, .6);
        }
    }

    .txt_img_bg {
        color: #0071BC;
        line-height: 26px;
        font-size: 22px;
        text-align: left;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        background: transparent url("../img/17.png") no-repeat 0 50%;
        background-size: cover;
        padding: 10px 50px;
        max-width: 694px;
        text-align: center;
    }

    .btn_wrapp {
        margin-top: 40px;
        max-width: 694px;
        text-align: center;
    }
}
// ==================================================
// sec_4
// ==================================================

.sec_5 {
    padding: 20px 0 0;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -400px;
        left: 0;
        width: 100%;
        height: 402px;
        background-image: url("../img/22.png");
        background-size: 100% auto;
    }

    .sec_title {
        color: #FBB03B;
        line-height: 58px;
        font-size: 48px;
        font-family: '__Futura PT_5';
        font-weight: 700;
        max-width: 500px;
        margin-left: auto;
        margin-bottom: -135px;
        text-align: right;
    }

    img {
        height: 220px;
        width: auto;
    }

    h3 {
        color: #FBB03B;
        line-height: 36px;
        font-size: 30px;
        text-align: left;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: bold;
        margin-bottom: 15px;
    }

    p {
        color: #0071BC;
        line-height: 24px;
        font-size: 20px;
        text-align: left;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        font-weight: normal;
    }
}
// ==================================================
// success
// ==================================================

.success {
    .sec_1 {
        min-height: 0;
        padding: 150px 0 300px;
    }

    .sec_3 {
        padding-top: 0;

        .container {
            margin-top: -100px;
        }

        .card {
            h1 {
                color: #FBB03B;
                line-height: 58px;
                font-size: 48px;
                font-family: '__Futura PT_5';
                font-weight: 700;
                margin: 0;
            }

            p {
                margin-top: 0;
            }
        }

        .card-body {
            padding: 3.25rem 1.25rem;
        }
    }

    .glyphsSpriteApp_instagram__outline__24__grey_9 {
        background-repeat: no-repeat;
        background-position: -126px -128px;
        height: 60px;
        width: 62px;
        display: block;
        margin: 1rem auto 0;
    }

    .glyphsSpriteApp_instagram__outline__24__grey_9 {
        background-image: url("https://www.instagram.com/static/bundles/es6/sprite_glyphs_33fe29edfd27.png/33fe29edfd27.png");
    }
    @media (max-width: 767.98px) {
        .sec_1 {
            padding: 50px 0 170px;
        }

        .sec_3 .card h1 {
            margin-top: 20px;
        }

        .sec_3 .row_blocks img {
            max-width: 100%;
        }
    }
}

.progress {
    height: 2.3rem;
}
// ==================================================
// responcive
// ==================================================
@media (max-width: 767.97px) {
    header .navbar {
        padding: 0.2rem 1rem;
    }

    img.logo {
        height: 40px;
        width: auto;
    }

    .navbar-nav {
        background: rgb(7, 34, 62);
        margin-left: -15px !important;
        margin-right: -15px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .btn.btn-outline-light {
        margin-left: 0;
        margin-top: 15px;
    }

    .sec_1 {
        padding: 80px 0 30px;
    }

    .sec_1 .upper_title {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .sec_1 .sec_title {
        font-size: 26px;
        line-height: 30px;
    }

    .sec_1 .img_block {
        margin-top: 0;
        height: auto;
        display: none;
    }

    .sec_1 .description {
        max-width: 100%;
    }

    .form .input {
        padding: 10px 20px;
        border-width: 2px;
    }

    .form button {
        font-size: 20px;
        padding: 5px 15px;
    }

    .sec_2::after {
        display: none;
    }

    .sec_2 .sec_title {
        font-size: 27px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 40px;
    }

    .sec_2 .sec_title.first {
        font-size: 27px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 80px;
    }

    .sec_2 p {
        line-height: 26px;
        font-size: 20px;
        text-align: center;
        max-width: 240px;
        margin: 15px auto 20px;
    }

    .sec_2 img {
        width: 100%;
        max-width: 250px;
        margin: 15px auto 20px;
        display: block;
    }

    .sec_3 .row_blocks {
        margin: 0 -15px;
    }

    .sec_3 .row_blocks img {
        max-width: 110px;
    }

    .sec_3 p {
        line-height: 24px;
        font-size: 20px;
    }

    .sec_3 h2.blue {
        margin-top: 20px;
        font-size: 24px;
        line-height: 27px;
    }

    h2.orange {
        font-size: 22px;
        line-height: 25px;
    }

    .sec_4 {
        padding: 30px 0;
    }

    .sec_4::before {
        display: none;
    }

    .sec_4 .sec_title {
        font-size: 30px;
        line-height: 32px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .sec_4 .list p {
        font-size: 20px;
    }

    .sec_4 .list span {
        font-size: 40px;
        line-height: 50px;
    }

    .sec_4 .txt_img_bg {
        padding: 10px 20px;
        background: #fff;
        font-size: 20px;
        margin-top: 20px;
    }

    .sec_4 .b-btn {
        font-size: 20px;
        padding: 10px 50px;
        line-height: 25px;
    }

    .sec_5::after {
        display: none;
    }

    .sec_4 .btn_wrapp {
        margin-top: 20px;
    }

    .sec_5 .sec_title {
        font-size: 30px;
        line-height: 32px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .sec_5 img {
        max-width: 250px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .sec_5 h3 {
        font-size: 26px;
    }

    .sec_5 p {
        font-size: 18px;
    }

    .sec_5 .row_blocks .item {
        margin-top: 0 !important;
    }
}
