body {
    font-family: 'Verdana Bold';
    color: #000;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1050px;
    }
}

.btn-success {
    color: #000;
    background-color: #21ff4b;
    border-color: #21ff4b;
}

.btn-group-lg > .btn,
.btn-lg {
    padding: 0.7rem 2.2rem;
    font-size: 1.5rem;
    line-height: 1.7;
    border-radius: 0.3rem;
}

.p-with-before {
    position: relative;
    padding-left: 40px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        border-radius: 15px;
        height: 100%;
        background-color: #3625d6;
    }
}

.p-with-after {
    position: relative;
    padding-right: 40px;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 15px;
        border-radius: 15px;
        height: 100%;
        background-color: #3625d6;
    }
}

.block-title {
    margin-bottom: 1.5rem;
    font-family: 'Verdana Regular';
}

.red {
    font-family: 'Verdana Bold';
    color: #e3101f;
}

.sec_title {
    text-align: center;
    font-size: 2.2rem;
}
// ==========================================================================
// modal
// ==========================================================================

.modal-content {
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    border: none;
}
// ==========================================================================
// table
// ==========================================================================

.table {
    td {
        font-family: 'Verdana Regular';
        white-space: nowrap;
    }

    td,th {
        white-space: nowrap;
    }

    thead th {
        border: none;
    }
}

@media (min-width: 768px) {
    .table {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 0;
    }
}

@media (max-width: 767.98px) {
    .table_wrapp {
        border-radius: 8px;
        padding: 5px;
        background: #FFFFFF;
        z-index: 46;
        display: block;

        .table_responsive {
            box-shadow: inset -20px 0 35px -20px rgba(0,0,0,0.2);
            border-radius: 8px;
            padding: 0 16px;
        }
    }
}
