body {
    font-family: 'Verdana Bold';
    color: #000;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1050px;
    }
}

.btn-success {
    color: #000;
    background-color: #21ff4b;
    border-color: #21ff4b;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .7rem 2.2rem;
    font-size: 1.5rem;
    line-height: 1.7;
    border-radius: .3rem;
}

p {
    color: #393839;
    font-family: 'Verdana Regular';
    font-size: 1.1rem;
}

.p-with-before {
    position: relative;
    padding-left: 40px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        border-radius: 15px;
        height: 100%;
        background-color: #3625d6;
    }
}

.p-with-after {
    position: relative;
    padding-right: 40px;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 15px;
        border-radius: 15px;
        height: 100%;
        background-color: #3625d6;
    }
}

.block-title {
    margin-bottom: 1.5rem;
    font-family: 'Verdana Regular';
}

.red {
    font-family: 'Verdana Bold';
    color: #e3101f;
}

.sec_title {
    text-align: center;
    font-size: 2.2rem;
}
