.blue {
	color: #0071BC;
}
.yellow {
	color: #FBB03B;
}
.sec_6 {
	p {
	    line-height: 36px;
	    font-size: 30px;
	    font-family: '__Futura PT_5';
	    font-weight: 700;
	}

	div.blue {
		line-height: 30px;
	    font-size: 25px;
	    margin-top: 45px;
	    color: #0071BC;
	    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	}
	img {
		margin: -100px 0;
	}

	.right {
		margin-top: 160px;
	}
} 
.text-with-white-bg {
	padding: 10px 55px;
	width: 694px;
	height: 91px;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-image: url('../img/17.png');
		background-size: cover;
		z-index: -1;

		@media (max-width:768px) {
			display: none;
		}
	}
	
	color: #FBB03B;
	line-height: 24px;
    font-size: 20px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

.white-gradient {
	height: 400px;
	position: absolute;
	z-index: 0;
	&.up {
		top: 0;
		left: 0;
		right: 0;
		background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(0, 0, 0, 0) 80%);	
	}
	
}

.sec_7 {
	background-image: url('../img/3.jpg');
	background-size: cover;
	position: relative;
	margin-top: 100px;
	padding-bottom: 330px;
	overflow: hidden;

	.absolute-bottom {
		width: 100%;
		position: absolute;
		bottom: -700px;
	}
	.container {
		position: relative;
		z-index: 1;
		padding-top: 280px;
	}
	.sec_title {
	    color: #FBB03B;
	    line-height: 58px;
	    font-size: 48px;
	    font-family: '__Futura PT_5';
	    font-weight: 700;
	    text-shadow: 0px 1px 3px rgba(0, 0, 0, .6);
	}
}

.cash-list {
		padding: 0;
		li {
			list-style: none;
		    color: #FFFFFF;
		    line-height: 24px;
		    font-size: 20px;
		    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
		    position: relative;
		    padding-left: 50px;
		    margin-bottom: 25px;
		    text-shadow: 0px 1px 3px rgba(0, 0, 0, .6);
		    &:before {
		    	content: '';
		    	background-image: url('../img/money-bag-with-dollar-symbol.png');
		    	background-size: contain;
		    	background-repeat: no-repeat;
		    	width: 28px;
		    	height: 28px;
		    	position: absolute;
		    	top: 0;
		    	left: 0;

		    }
		}
	}

.register-btn {
	padding: 20px;
	display: inline-block;
    background-color: #FBB03B;
    border-radius: 400px;
    color: #0071BC;
    line-height: 36px;
    position: relative;
    top: 0;
    font-size: 30px;
    text-align: center;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
    transition: all .3s;

    &:hover {
    	top: -2px;
    	text-decoration: none;
    }
}

.sec_8 {
	padding-bottom: 150px;
	.sec_title {
	    color: #FBB03B;
	    line-height: 58px;
	    font-size: 48px;
	    font-family: '__Futura PT_5';
	    font-weight: 700;

	    & + p {
	    	color: #0071BC;
		    line-height: 26px;
		    font-size: 22px;
		    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
		    margin-bottom: 45px;

		    & + a {
		    	padding: 30px 45px;
		    }
	    }
	}

	.check-list {
		padding: 0;
		li {
			list-style: none;
		    color: #0071BC;
		    line-height: 26px;
		    font-size: 22px;
		    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
		    position: relative;
		    padding-left: 50px;
		    margin-bottom: 25px;
		    &:before {
			    content: '';
			    display: block;
			 	position: absolute;
		    	top: 40%;
		    	left: 0;
			    width: 18px;
			    height: 30px;
			    border: solid #FBB03B;
			    border-width: 0 8px 8px 0;
			    transform: rotate(45deg) translateY(-50%);

		    }
		}
	}
}
.font-white {
	color: #fff;
}
.sec_9 {
	position: relative;
	padding: 100px 0;
	background-image: url('../img/4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	.sec_title {
	    color: #FBB03B;
	    line-height: 58px;
	    font-size: 48px;
	    font-family: '__Futura PT_5';
	    font-weight: 700;

	    & + p {
	    	color: #0071BC;
		    line-height: 26px;
		    font-size: 22px;
		    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
		    margin-bottom: 45px;

		    & + a {
		    	padding: 30px 45px;
		    }
	    }
	}

	.right {
		padding-left: 50px;
		p {
			color: #FBB03B;
			font-size: 25px;
			line-height: 30px;
			text-shadow: 0px 1px 3px rgba(0, 0, 0, .6);
		}
	}
}
.modal {
	.form {
		max-width: 100%;
		.input {
		    color: #000;
		    border-color: #0071BC;
		    background-color: transparent;
		}
		.input:active, .input:focus {
	   		box-shadow: 0 0 2px #FFC437, 0 0 2px #FFC437;
    		border-color: #FFC437;
		}
		.input::-webkit-input-placeholder {
		    /* Chrome/Opera/Safari */
		    color: #7d7979;
		}

		.input::-moz-placeholder {
		    /* Firefox 19+ */
		    color: #7d7979;
		}

		.input:-ms-input-placeholder {
		    /* IE 10+ */
		    color: #7d7979;
		}

		.input:-moz-placeholder {
		    /* Firefox 18- */
		    color: #7d7979;
		}
		button {
			padding: 20px;
		}	
	} 
}
img {
	max-width: 100%;
}