@import 'fonts'; // @import 'common';
// @import 'toha';
// @import 'andrew';
@media (min-width: 1400px) {
    .container-tarif {
        max-width: 1400px;
    }
}

header {
    min-height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0 80px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 49px;
    color: #ffffff;
    font-family: "Bebas Neue";
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 35px;

    span {
        display: inline-block;
        position: relative;
        color: #350572;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            top: -3px;
            left: -2%;
            width: 104%;
            height: 100%;
            background-color: #ffd53d;
            display: inline-block;
            z-index: -1;
            transform: skewX(-10deg);
        }
    }
}

form {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.502);
    padding: 34px 34px 30px;
    display: flex;
    flex-direction: column;
    max-width: 413px;
    width: 100%;
}

input {
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    box-shadow: inset 0 10px 10px 0 rgba(0, 0, 0, 0.11);
    background: none;
    padding: 16px 32px;
    margin-bottom: 27px;
    font-family: 'Futura PT Heavy';
    font-size: 17px;
    color: #fff;
    line-height: 1.2;
}

input::-webkit-input-placeholder {
    font-family: 'Futura PT Heavy';
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
}

button {
    display: flex;
    justify-content: space-between;
    border: none;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 0 #cc8b0c;
    background-color: #ffd53d;
    font-size: 17px;
    font-family: 'Futura PT Heavy';
    color: rgb(53, 5, 114);
    text-transform: uppercase;
    line-height: 1.2;
    padding: 22px 32px;
    margin-top: 12px;

    img {
        display: inline-block;
        margin-right: 10px;
    }

    &:hover {
        background-color: #e2bc32;
    }
}

.header {
    &__content {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1000px;
        margin: 0 auto;

        .desc {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 20.64px;
                font-family: 'Futura PT Heavy';
                color: rgb(255, 255, 255);
                line-height: 1.2;
                text-align: center;
                margin-top: 20px;
                border-radius: 5px;
                background-color: rgba(255,255,255,0.302);
                padding: 28px 34px;
                border: solid 2px #fff;
                margin-bottom: 0;

                span {
                    font-family: 'Futura PT Book';
                    line-height: 27px;
                    color: #ffd53d;
                    display: block;
                    margin-top: 5px;
                }
            }
        }
    }

    &__condition {
        margin: 50px auto 0;
        max-width: 637px;
        width: 100%;
        border: dotted 4px rgb(255, 206, 0);
        padding: 15px 15px 20px;

        h2 {
            font-size: 23px;
            color: #ffd53d;
            font-family: 'Futura PT Heavy';
            text-align: center;
            text-transform: uppercase;
            line-height: 1.2;
            margin-bottom: 30px;
        }

        .plan {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }

        .item {
            font-size: 17px;
            color: #fff;
            font-family: 'Futura PT Heavy';
            text-align: center;
            text-transform: uppercase;
            line-height: 1.2;

            span {
                color: #ffd53d;
                font-size: 28px;
            }

            p {
                margin: 5px 0 0;
            }
        }
    }
}
// /////////////////////////////////////////////////////////////////

.sec_tarifs {
    padding: 76px 0 127px;
}

.sec_title {
    font-size: 49.12px;
    font-family: "Bebas Neue";
    color: rgb(51, 9, 109);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 100px;
    text-align: center;
}

.tarifs_wrapp {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.tarif {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 32px 0 rgba(45, 45, 45, 0.21);
    max-width: 430px;
    padding-bottom: 45px;
    margin-bottom: 40px;

    .head {
        padding: 31px 15px 28px;
        background-color: #ffd53d;
    }

    h3 {
        font-size: 49.12px;
        font-family: "Bebas Neue";
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        margin: 0;
    }

    .list {
        padding: 35px 20px 30px;

        p {
            position: relative;
            padding-left: 41px;
            font-size: 21px;
            font-family: 'Futura PT Book';
            color: rgb(51, 9, 109);
            line-height: 1.5;
            margin-bottom: 15px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 7px;
                width: 28px;
                height: 28px;
                background-image: url("../img/ok.png");
            }
        }
    }

    .old_price_wrapp {
        text-align: center;
        color: #959595;
        font-size: 37.12px;
        font-family: "Bebas Neue";
        font-weight: bold;

        span {
            display: inline-block;
            width: 120px;
            text-align: center;
        }
    }

    .new_price {
        text-align: center;
        color: #381270;
        font-size: 70px;
        font-family: "Bebas Neue";
        font-weight: bold;
    }
}

.old_price {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-20deg);
        background-color: #fa3030;
        height: 3px;
        width: 75px;
    }
}

.custom-control {
    .custom-control-label {
        font-family: "Bebas Neue";
        font-weight: bold;
        color: #381270;
        font-size: 24px;
    }

    .old_price {
        opacity: 0.7;

        &::before {
            height: 2px;
            width: 45px;
        }
    }
}

.custom-control-label::after {
    width: 1.2rem;
    height: 1.2rem;
    top: 0.45rem;
}

.custom-control-label::before {
    width: 1.2rem;
    height: 1.2rem;
    top: 0.45rem;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #cc8b0c;
    background-color: #ffd53d;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 213, 61, .25);
}

a.btn {
    max-width: 325px;
    width: 100%;
    height: 70px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 206, 0);
    font-size: 18px;
    font-family: 'Futura PT Heavy';
    color: #fff;
    border-radius: 0;
    margin: 15px auto 5px;
    position: relative;
    z-index: 2;

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 105%;
        height: 123%;
        border-width: 1px;
        border-color: rgb(255, 180, 0);
        border-style: solid;
        z-index: -1;
    }

    &:hover {
        color: #fff;
        background-color: #e2bc32;
    }
}

// ////////////////////////////////////////////////////////////////////////////////////////

.modal-content {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    form {
        margin: 0 auto;
    }
}

.modal-body {
    padding: 2rem 0;
}

.modal-header {
    color: #fff;
}

.close {
    box-shadow: none;
    color: #fff;
    font-size: 30px;
}

@media (max-width: 767.98px) {
    header {
        padding: 50px 0;
    }

    h1 {
        font-size: 34px;
        margin-bottom: 35px;
    }

    form {
        padding: 20px;
        margin-bottom: 30px;
    }

    .header__content {
        flex-direction: column;
    }

    .header__condition {
        margin: 20px auto 0;

        .plan {
            flex-direction: column;
        }

        img {
            transform: rotate(90deg);
            margin: 15px 0;
        }
    }

    .sec_tarifs {
        padding: 40px 0 60px;
    }

    .sec_title {
        font-size: 45px;
        margin-bottom: 50px;
    }

    .tarif h3 {
        font-size: 36px;
    }

    .tarif .list {
        padding: 20px 15px;
    }

    .tarif .list p {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 15px;
        padding-left: 31px;

        &::before {
            width: 22px;
            height: 22px;
            background-size: cover;
        }
    }

    a.btn {
        max-width: 265px;
        height: 60px;
    }

    .modal-body {
        padding: 0;
    }

    .modal-dialog {
        margin: 0;
    }
}
